.cabecalho{

    display: flex;
    
    
}

.navbar-nav li{

     margin-left: 10px;
     text-decoration: none;
    
}

footer{

    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;

}

#conteudo-principal img{
    width: 100%;
  }
  @media (max-width: 768px){
    #conteudo-principal .img-mulher{
      display: none;
    }

}